@font-face {
  font-family: "Kanit Bold Italic";
  src: url("@/assets/fonts/Kanit-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit Medium";
  src: url("@/assets/fonts/Kanit-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit Medium Italic";
  src: url("@/assets/fonts/Kanit-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit Regular";
  src: url("@/assets/fonts/Kanit-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit SemiBold";
  src: url("@/assets/fonts/Kanit-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit SemiBold Italic";
  src: url("@/assets/fonts/Kanit-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit ExtraBold Italic";
  src: url("@/assets/fonts/Kanit-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit Light";
  src: url("@/assets/fonts/Kanit-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit Light Italic";
  src: url("@/assets/fonts/Kanit-LightItalic.ttf") format("truetype");
}
