@import "./fonts.scss";
@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
body {
  background: $base-color;
  font-family: Kanit Medium, sans-serif;
  color: white;
}
section {
  min-height: 500px;
}
a,
a:focus,
a:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  outline: none;
}
.title {
  font-family: Kanit ExtraBold Italic;
  font-size: 50px;
}
.subtitle {
  color: $gray-3;
  font-family: Kanit ExtraBold Italic;
  font-size: 32px;
}
.text {
  font-family: Kanit Regular;
  font-size: 32px;
  color: $gray-2;
}
.text-ligth {
  font-family: Kanit light;
  font-size: 20px;
  color: $gray-2;
}
.columns {
  white-space: nowrap;
}
.columns.column-3 > :first-of-type {
  margin-right: 1.25%;
}
.columns.column-3 > * {
  width: 32.5%;
}
.v-align-top > * {
  display: inline-block;
  vertical-align: top;
}
.columns.column-2 {
  > * {
    width: 48.5%;
  }
  > :first-of-type {
    margin-right: 1.5%;
  }
  > :last-of-type {
    margin-left: 1.5%;
  }
}
.rbtn {
  background-color: $primary-color !important;
  width: 50%;
  clip-path: polygon(8% 0, 100% 0%, 93% 100%, 0% 100%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  outline: none;
  color: white;
  font-family: Kanit Bold Italic;
  font-size: 25px;

  &:hover {
    background-color: transparent !important;
    span {
      color: $primary-color;
    }
  }
}
.bg-gray-2 {
  background: $gray-2 !important;
}
